<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_POST_ACTION}" id="post">
<div class="row-fluid">

  <div class="side-segment"><h3>{L_SEND_EMAIL_USER} {USERNAME}</h3></div>	
<div class="well">

		<!-- IF ERROR_MESSAGE --><p class="text-error">{ERROR_MESSAGE}</p><!-- ENDIF -->
		<fieldset>
		<!-- IF S_SEND_USER -->
			
        <div class="control-group">
		  <label for="username" class="control-label">{L_RECIPIENT}:</label>
			<div class="controls">
			<div class="input-icon left">
			 <i class="icon-user"></i>
			  <input type="text" class="input-xlarge" name="username" id="username" placeholder="{USERNAME}" disabled="">
			</div>
			</div>
		</div>	
		
		<div class="control-group">
		  <label for="subject" class="control-label">{L_SUBJECT}:</label>
			<div class="controls">
			<div class="input-icon left">
			 <i class="icon-tag"></i>
			  <input type="text" class="input-xlarge" name="subject" id="subject" value="{SUBJECT}">
			</div>
			</div>
		</div>			
		
		<!-- ELSE -->
		
		
        <div class="control-group">
		  <label for="email" class="control-label">{L_EMAIL_ADDRESS}:</label>
			<div class="controls">
			<div class="input-icon left">
			 <i class="custom-at"></i>
			  <input type="text" class="input-xlarge" name="email" id="email" value="{EMAIL}">
			</div>
			</div>
		</div>	

        <div class="control-group">
		  <label for="name" class="control-label">{L_REAL_NAME}:</label>
			<div class="controls">
			<div class="input-icon left">
			 <i class="icon-ok"></i>
			  <input type="text" class="input-xlarge" name="name" id="name" value="{NAME}">
			</div>
			</div>
		</div>	
		
        <div class="control-group">
		  <label for="lang" class="control-label">{L_DEST_LANG}:</label>
			<div class="controls">
			 <select class="selectpicker" name="lang">{S_LANG_OPTIONS}</select>
			  <span class="help-block">{L_DEST_LANG_EXPLAIN}</span>
			</div>
		</div>	
		<!-- ENDIF -->
		
        <div class="control-group">
		  <label for="message" class="control-label">{L_MESSAGE_BODY}:</label>
			<div class="controls">
			  <textarea class="span12" name="message" id="message" rows="5" tabindex="4" placeholder="{L_MESSAGE_BODY}">{MESSAGE}</textarea>
			  <p class="help-block">{L_EMAIL_BODY_EXPLAIN}</p>
			<input type="checkbox" name="cc_email" id="cc_email" value="1" checked="checked" tabindex="5" /><label for="cc_email">{L_CC_EMAIL}</label>
			</div>
		</div>	

		</fieldset>


	
		<fieldset class="form-actions">
			<button type="submit" tabindex="6" name="submit" class="btn" value="{L_SEND_EMAIL}" autocomplete="off" data-loading-text="Sending...<i class='icon-spin icon-spinner icon-large icon-white'></i>">{L_SEND_EMAIL}</button>
		</fieldset>
	
{S_FORM_TOKEN}
</div>
</div>
</form>

<!-- INCLUDE overall_footer.html -->