<footer> <!-- Footer block -->
    
    <div id="footerContent"> <!-- About us , links, twitter, recent posts layout -->
      <div class="row-fluid">
        
        <!--<div class="span3">
          <div class="side-segment"><h3>Recent Topics</h3></div>
          
          <div class="recent-topic text-overflow">
            <a class="blogImage" href="#"><img alt="" src="{T_THEME_PATH}/images/user9.gif"></a>
              <a href="#" title="">All The Popular PhpBB Mods Are Coming Soon</a>
              <p><i class="icon-sitemap"></i> {L_IN_FOOTER} <a href="#" title="">BBOOTS Customization</a></p>
              <p><i class="icon-time"></i> Posted July 22, 2013</p>
            <div class="clearfix"></div>
          </div>

          <div class="recent-topic text-overflow">
            <a class="blogImage" href="#"><img alt="" src="{T_THEME_PATH}/images/user8.gif"></a>
              <a href="#" title="">BBOOTS The New Fully Responsive PhpBB Theme </a>
              <p><i class="icon-sitemap"></i> {L_IN_FOOTER} <a href="#" title="">Latest News</a></p>
              <p><i class="icon-time"></i> Posted August 9, 2013</p>
            <div class="clearfix"></div>
          </div>

          <div class="recent-topic text-overflow">
            <a class="blogImage" href="#"><img alt="" src="{T_THEME_PATH}/images/user6.gif"></a>
              <a href="#" title="">Get BBOOTS Directly And Exclusively On ThemeForest</a>
              <p><i class="icon-sitemap"></i> {L_IN_FOOTER} <a href="#" title="">Envato Market Place</a></p>
              <p><i class="icon-time"></i> Posted August 02, 2013</p>
            <div class="clearfix"></div>
          </div>
        </div>-->
        
        
        <div class="span3"><!--
        
          <div class="side-segment"><h3>Twitter</h3></div>
             <div id="example1"></div>
        </div>-->
        
        
        <div class="span3">
          <div class="side-segment"><h3>Favorites</h3></div>
          
          <ul class="navList">
            <li><a href="#"><i class="icon-home"></i> Home</a></li>
            <!--<li><a href="#"><i class="icon-picture"></i> Gallery</a></li>-->
            <li><a href="{U_MEMBERLIST}"><i class="icon-group"></i> {L_MEMBERLIST}</a></li>
            <!--<li><a href="#"><i class="icon-comments"></i> Chat</a></li>-->
            <!--<li><a href="#"><i class="icon-bar-chart"></i> Statistics</a></li>-->
            <!-- IF not S_IS_BOT --><li><a href="{U_DELETE_COOKIES}"><i class="icon-trash"></i> {L_DELETE_COOKIES}</a></li><!-- ENDIF -->
          </ul>

        </div>
        
        <!--<div class="span3">
          <div class="side-segment"><h3>About us</h3></div>
  
          <p>BBOOTS&#8482; Is The First And Only Fully Responsive PhpBB&reg; Unofficial HTML5/CSS3 Theme. It’s Clean And Crisp Design Looks AWESOME Across All Browsers And Devices.</p> 
          <p>It Utilizes A Bootstrap Based Layout Which Has Been Long Waited For And That Is Sure To AMAZE The phpBB Fan Club.</p>
        
        <blockquote>
                    <p><span>B</span>BOOTS</p>
                     <small><cite title="Source Title">The Unofficial Responsive Theme <i class="icon-map-marker"></i></cite></small>
                </blockquote>
          </div>-->
        
        
      </div>
    </div> <!-- About us , links, twitter, recent posts layout -->
    
  <div class="row-fluid bottomLinks"> <!-- Credit, links and copyright block do not remove please -->
    <div class="pull-left">
      <small>Powered by <a href="http://www.phpbb.com/" title="Forum Software &copy; phpBB&reg; Group" target="_blank"><i aria-hidden="true" class="custom-forphp"></i></a> <i aria-hidden="true" class="custom-bootstrap"></i> <i aria-hidden="true" class="custom-html5"></i> <i aria-hidden="true" class="custom-css3"></i> <i aria-hidden="true" class="custom-forjq"></i> <i aria-hidden="true" class="custom-less_c"></i> <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fsitesplat.com%2Fdemo%2FphpBB3%2Findex.php" title="Conform to W3C HTML5 Standard" target="_blank"> <i aria-hidden="true" class="custom-w3c"></i></a> </small>
    </div>
    
    <div class="pull-right">
      <small>HandCrafted with&nbsp;<i class="icon-heart rosso"></i> By<a href="http://www.sitesplat.com/" title="SiteSplat.com" target="_blank">SiteSplat</a> on <i class="custom-earth-2 earth"></i>&nbsp; &copy;SiteSplat 2013</small>
    </div>
  </div> <!-- Credit, links and copyright block do not remove please -->
    
  </footer>
  
  
  </div><!-- page-body id in header -->

</div> <!-- padding_0_40 in header -->
 </div> <!-- content-forum in header -->

</div> <!-- wrap - corners container in header -->


<div class="container">
  <div class="copyright">
  <small class="pull-left">
    <!-- IF TRANSLATION_INFO -->{TRANSLATION_INFO}<!-- ENDIF -->
    <!-- IF DEBUG_OUTPUT -->{DEBUG_OUTPUT}<!-- ENDIF -->
  </small>
  
  <small class="pull-right">
    {S_TIMEZONE}
  </small>
  
  </div>
</div>

<div class="space10"></div> 

<div> 
  <!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div> 

<!-- script asynch loading -->
<!-- Placed at the end of the document so the pages load faster -->

<!--Twitter plugin-->
<script type="text/javascript" src="{T_THEME_PATH}/js/twitterFetcher_v10_min.js"></script>
<!--Twitter plugin-->

<!--custom plugin-->
<script type="text/javascript" src="{T_THEME_PATH}/js/phpbb-boot.js"></script>
<!--custom plugin-->

<!-- scroll-up//refer to the overall_footer for options// and tinyscroll.js -->
<script type="text/javascript" src="{T_THEME_PATH}/js/jquery.tinyscrollbar.min.js"></script>
<script type="text/javascript" src="{T_THEME_PATH}/js/jquery.scrollUp.js"></script>
<!-- scroll-up and tinyscroll.js -->

<!--Twitter plugin-->
<script>
// ##### Twitter Setting #####
// A simple example to get my latest tweet and write to a HTML element with
// id "tweets". Also automatically hyperlinks URLS and user mentions and
// hashtags.
// Change the number below as per your Twitter Widget ID. 
// You need to create your Widget from your twitter account
// Chnage the number 3 to the number of tweets that you want to display
   twitterFetcher.fetch('391407906655965184', 'example1', 3, true);
</script>
<!--Twitter plugin-->

<!-- Lodaing state for buttons -->
<script>
$('button[data-loading-text]')
    .click(function () {
        var btn = $(this)
        btn.button('loading')
        setTimeout(function () {
            btn.button('reset')
        }, 3000)
    });
</script>

<script>
 //ScrollUp
$(function () {
$.scrollUp({
scrollName: 'scrollUp', // Element ID
topDistance: '300', // Distance from top before showing element (px)
topSpeed: 300, // Speed back to top (ms)
animation: 'slide', // Fade, slide, none
animationInSpeed: 400, // Animation in speed (ms)
animationOutSpeed: 400, // Animation out speed (ms)
scrollText: 'Scroll to top', // Text for element
activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
});
}); 
</script>

<!-- icon switch fix -->
<script>
$('#target-col').on('show hide', function (e) {
    if($(e.target).attr("id") != "target-col")return;
    $('#target-shown').toggleClass('icon-arrow-up icon-arrow-down', 200);
});
</script>
<!-- icon switch fix -->

<!-- Tooltip on a attribute -->
<script>
    jQuery(function ($) {
        $("a").tooltip({ html : true, container: 'body'});
    });
</script>

<!-- Tooltip Btn grp fix -->
<script>
$('.btn-group [title]').tooltip({
  container: 'body'
})
</script>
<!-- Tooltip Btn grp fix -->

<!-- script asynch loading -->

</body>
</html>