<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>

<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta name="keywords" content="" />
<meta name="description" content="" />
{META}
<title>{SITENAME} &bull; <!-- IF S_IN_MCP -->{L_MCP} &bull; <!-- ELSEIF S_IN_UCP -->{L_UCP} &bull; <!-- ENDIF -->{PAGE_TITLE}</title>

<script type="text/javascript">
// <![CDATA[

	var jump_page = '{LA_JUMP_PAGE}:';
	var on_page = '{ON_PAGE}';
	var per_page = '{PER_PAGE}';
	var base_url = '{A_BASE_URL}';
	var style_cookie = 'phpBBstyle';
	var onload_functions = new Array();
	var onunload_functions = new Array();
	var style_cookie_settings = '{A_COOKIE_SETTINGS}';

	/**
	* New function for handling multiple calls to window.onload and window.unload by pentapenguin
	*/
	window.onload = function()
	{
		for (var i = 0; i < onload_functions.length; i++)
		{
			eval(onload_functions[i]);
		}
	}

	window.onunload = function()
	{
		for (var i = 0; i < onunload_functions.length; i++)
		{
			eval(onunload_functions[i]);
		}
	}

// ]]>
</script>
<script type="text/javascript" src="{T_SUPER_TEMPLATE_PATH}/forum_fn.js"></script>

<link href="{T_THEME_PATH}/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="{T_STYLESHEET_LINK}" rel="stylesheet" type="text/css" media="screen, projection" />

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
<!-- ENDIF -->


<!-- bootstrap.css essential  -->
<link href="{T_THEME_PATH}/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
<!-- responsive css stylesheet  -->
<link href="{T_THEME_PATH}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" media="screen">
<!-- bootstrap.css  -->

<!-- Footable CSS files -->
<link href="{T_THEME_PATH}/footable/css/footable.core.css" rel="stylesheet" type="text/css" media="screen">
<!-- Footable CSS files -->

<!-- FontAwesome CSS files -->
<link href="{T_THEME_PATH}/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" media="screen" />
<!-- FontAwesome CSS files -->

<!-- Custom Font CSS files -->
<link href="{T_THEME_PATH}/bootstrap/css/bootstrap-select.css" rel="stylesheet" type="text/css" media="screen">
<!-- Custom Font CSS files -->


<!-- Scripts start here after the jquery.js -->

<!--jQuery Library comp version-->
<script type="text/javascript" src="{T_THEME_PATH}/js/jquery.min.js"></script>
<!--jQuery Library-->

<!--bootstrap essential-->
<script type="text/javascript" src="{T_THEME_PATH}/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="{T_THEME_PATH}/bootstrap/js/bootstrap-select.js"></script>
<!--bootstrap essential-->

<!-- Footable essential -->
<script type="text/javascript" src="{T_THEME_PATH}/footable/js/footable.js"></script>
<!-- Footable essential -->

<!-- DEFINE $POPUP = 1 -->

</head>

<body id="phpbb" class="{S_CONTENT_DIRECTION}">

<div id="simple-wrap">
	<div id="page-body">