<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="tab-pane active">
<h2>{L_TITLE}</h2>
	
	<p>{L_ATTACHMENTS_EXPLAIN}</p>

	<!-- IF .attachrow -->
		
		<div class="pull-right">
	     <div class="pagination pagination-small">
            <ul>
	         <!-- IF PREVIOUS_PAGE --><li><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a></li><!-- ENDIF -->
	         <!-- IF TOTAL_ATTACHMENTS --><li class="active"><a>{TOTAL_ATTACHMENTS} {L_TITLE}</a></li><!-- ENDIF -->
             <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><li><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a></li> {PAGINATION}<!-- ELSE --> <li><a>{PAGE_NUMBER}</a></li><!-- ENDIF --><!-- ENDIF -->
	         <!-- IF NEXT_PAGE --><li><a href="{NEXT_PAGE}">{L_NEXT}</a></li><!-- ENDIF -->
	        </ul>
           </div>  	
	    </div>
		
		<div class="space10"></div>
		
	<table class="footable table table-striped table-bordered table-white table-primary table-hover">
	<thead>
		<tr>
		     <th class="table-check"><i class="icon-check-empty"></i> <div class="checker"><span><input type="checkbox" class="checkall uniform"></span></div>{L_MARK}</th>
			<th data-class="expand"><i class="icon-sort-by-alphabet"></i> <a href="{U_SORT_FILENAME}">{L_FILENAME}</a></th>
			<th data-hide="phone"><i class="icon-sort"></i> <a href="{U_SORT_DOWNLOADS}">{L_DOWNLOADS}</a></th>
			<th class="large26" data-hide="phone"><i class="icon-sort"></i> <a href="{U_SORT_POST_TIME}">{L_POST_TIME}</a></th>
		</tr> 
	</thead>
	 <tbody>
		<!-- BEGIN attachrow -->

	    <tr>
		   <td class="table-check"><div class="checker"><span><input type="checkbox" name="attachment[{attachrow.ATTACH_ID}]" id="attachment[{attachrow.ATTACH_ID}]"><label for="attachment[{attachrow.ATTACH_ID}]"></label></span></div></td>
		   <td>
	       <i class="icon-paper-clip"></i> <a href="{attachrow.U_VIEW_ATTACHMENT}" class="topictitle">{attachrow.FILENAME}</a> ({attachrow.SIZE})<br />
		   <!-- IF attachrow.S_IN_MESSAGE --><i class="icon-envelope"></i> {L_PM}: <!-- ELSE --><i class="icon-font"></i>{L_TOPIC}: <!-- ENDIF --> <a href="{attachrow.U_VIEW_TOPIC}">{attachrow.TOPIC_TITLE}</a>
		   </td>
		   <td class="center">{attachrow.DOWNLOAD_COUNT}</td>
		   <td class="center"><i class="icon-time"></i> <small> {attachrow.POST_TIME}</small> </td>
		</tr>
		<!-- END attachrow -->
	 </tbody>
	</table>


	<!-- ELSE -->
	<div class="alert alert-info fade in">
	  <button class="close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
	 {L_UCP_NO_ATTACHMENTS}
	</div>
	<!-- ENDIF -->

</div>
	<div class="table_options">
            <div class="pull-left">
                <div class="btn-group">
				    <!-- IF S_ATTACHMENT_ROWS -->
                    <div class="dropup">
                        <button href="#" data-toggle="dropdown" class="btn" data-original-title="" title=""><i class="icon-check-empty"></i> <span class="caret"></span></button>
						 <ul class="dropdown-menu">
                            <li><a href="#" onclick="marklist('ucp', 'attachment', true); return false;" data-original-title="" title=""><i class="icon-check"></i>{L_MARK_ALL}</a></li>
                            <li><a href="#" onclick="marklist('ucp', 'attachment', false); return false;" data-original-title="" title=""><i class="icon-check-empty"></i>{L_UNMARK_ALL}</a></li>
                          </ul> 
				    <button class="btn" type="submit" name="delete" data-original-title="{L_DELETE_MARKED}" title="{L_DELETE_MARKED}"><i class="icon-trash"></i></button>
				   </div>		       
                       {S_FORM_TOKEN}
                    <!-- ENDIF -->		  
		        </div> 
           </div>
   
        <div class="pull-right">
	     <div class="pagination pagination-small">
            <ul>
	         <!-- IF PREVIOUS_PAGE --><li><a href="{PREVIOUS_PAGE}">{L_PREVIOUS}</a></li><!-- ENDIF -->
	         <!-- IF TOTAL_ATTACHMENTS --><li class="active"><a>{TOTAL_ATTACHMENTS} {L_TITLE}</a></li><!-- ENDIF -->
             <!-- IF PAGE_NUMBER --><!-- IF PAGINATION --><li><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a></li> {PAGINATION}<!-- ELSE --> <li><a>{PAGE_NUMBER}</a></li><!-- ENDIF --><!-- ENDIF -->
	         <!-- IF NEXT_PAGE --><li><a href="{NEXT_PAGE}">{L_NEXT}</a></li><!-- ENDIF -->
	        </ul>
           </div>  	
	    </div>
   </div>
   
  <div class="space10"></div> 
  
   	<fieldset class="framed-ucp">
      <legend>{L_SORT_BY}:</legend>
	<div class="controls controls-row"> 
    
	<div class="span4">
         <div class="selector"><select class="selectpicker" data-container="body" name="sk" id="sk">{S_SORT_OPTIONS}</select></div> 
    </div>
    
	<div class="span4">
		<div class="btn-group">
          <div class="selector"><select class="selectpicker" data-container="body" name="sd" id="sd">{S_ORDER_SELECT}</select></div> 
       <button type="submit" name="sort" class="btn">{L_SORT}</button>
	   </div>
    </div>
	{S_FORM_TOKEN}
    </div> 
	</fieldset>

</form>

<!-- INCLUDE ucp_footer.html -->