<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<div class="tab-pane active">
<h2>{L_TITLE}</h2>
	<p>{L_BOOKMARKS_EXPLAIN}</p>

<!-- IF S_NO_DISPLAY_BOOKMARKS -->
    <div class="alert alert-info fade in">
	  <button class="close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
	  {L_BOOKMARKS_DISABLED}
	</div>
<!-- ELSE -->

<!-- IF .topicrow -->
	<table class="footable table table-striped table-bordered table-white table-primary table-hover">
	<thead>
		<tr>
		    <th class="table-check"><i class="icon-check-empty"></i> <div class="checker"><span><input type="checkbox" class="checkall uniform"></span></div>{L_MARK}</th>
			<th data-class="expand"><i class="icon-group"></i> {L_BOOKMARKS}</th>
			<th data-hide="phone"><i class="icon-comments-alt"></i> {L_LAST_POST}</th>
		</tr> 
	</thead>
	<tbody>
	<!-- BEGIN topicrow -->
		<tr class="<!-- IF topicrow.S_POST_GLOBAL --> global-announce<!-- ENDIF --><!-- IF topicrow.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF topicrow.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF topicrow.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			    <!-- IF topicrow.S_DELETED_TOPIC -->
				{L_DELETED_TOPIC}
				<!-- ELSE -->
				 <td class="table-check"><div class="checker"><span><input type="checkbox" name="t[{topicrow.TOPIC_ID}]" id="t{topicrow.TOPIC_ID}"><label for="t{topicrow.TOPIC_ID}"></label></span></div></td>
				<td>
					<i class="row-icon" style="background-image: url({topicrow.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;" title="{topicrow.TOPIC_FOLDER_IMG_ALT}"></i>
					<!-- IF topicrow.S_UNREAD_TOPIC --><a href="{topicrow.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{topicrow.U_VIEW_TOPIC}" class="topictitle">{topicrow.TOPIC_TITLE}</a>
					<!-- IF topicrow.S_TOPIC_UNAPPROVED or topicrow.S_POSTS_UNAPPROVED --><a href="{topicrow.U_MCP_QUEUE}"><i class="icon-question-sign" rel="tooltip" data-placement="right" data-original-title="{L_TOPICS_ROW_NOT_APPROVED}" title="{L_TOPICS_ROW_NOT_APPROVED}"></i></a> <!-- ENDIF -->
					<!-- IF topicrow.S_TOPIC_REPORTED --><a href="{topicrow.U_MCP_REPORT}"><i class="icon-exclamation-sign" rel="tooltip" data-placement="right" data-original-title="{L_TOPICS_ROW_REPORTED}" title="{L_TOPICS_ROW_REPORTED}"></i></a><!-- ENDIF --><br />
					<!-- IF topicrow.PAGINATION --><strong class="pagination"><span>{topicrow.PAGINATION}</span></strong><!-- ENDIF -->
					<!-- IF topicrow.ATTACH_ICON_IMG --><i class="icon-paper-clip icon-flip-horizontal" rel="tooltip" data-placement="top" data-original-title="{L_ATTACH_FORUM}"></i> <!-- ENDIF --><i class="icon-user"></i> <small>{L_POST_BY_AUTHOR} {topicrow.TOPIC_AUTHOR_FULL}</small> <i class="icon-time"></i> <small>{topicrow.FIRST_POST_TIME}</small>
				</td>
				<td class="center"><i class="icon-user"></i> {L_POST_BY_AUTHOR} {topicrow.LAST_POST_AUTHOR_FULL}
					<!-- IF not S_IS_BOT --><a rel="tooltip" data-placement="right" data-original-title="{L_FORUMLIST_LASTPOST}" href="{topicrow.U_LAST_POST}"><i class="icon-signout"></i></a> <!-- ENDIF --><br /><i class="icon-time"></i> <small>{topicrow.LAST_POST_TIME}</small>
				</td>
				<!-- ENDIF -->
		</tr>
	<!-- END topicrow -->
		</tbody>
		</table>
	
	<div class="table_options">
            <div class="pull-left">
                <div class="btn-group">
				    <!-- IF .topicrow and not S_NO_DISPLAY_BOOKMARKS -->
                    <div class="dropup">
                        <button href="#" data-toggle="dropdown" class="btn" data-original-title="" title=""><i class="icon-check-empty"></i> <span class="caret"></span></button>
						 <ul class="dropdown-menu">
                            <li><a href="#" onclick="marklist('ucp', '', true); return false;" data-original-title="" title=""><i class="icon-check"></i>{L_MARK_ALL}</a></li>
                            <li><a href="#" onclick="marklist('ucp', '', false); return false;" data-original-title="" title=""><i class="icon-check-empty"></i>{L_UNMARK_ALL}</a></li>
                          </ul> 
				    <button class="btn" type="submit" name="unbookmark" data-original-title="{L_REMOVE_BOOKMARK_MARKED}" title="{L_REMOVE_BOOKMARK_MARKED}"><i class="icon-bookmark-empty"></i></button>
				   </div>
                        {S_FORM_TOKEN}
                    <!-- ENDIF -->		  
		        </div> 
           </div>
          <div class="pull-right">
            <div class="pagination pagination-small">
               <ul>
	             <li class="active"><a><!-- IF TOTAL_TOPICS --> {TOTAL_TOPICS} <!-- ENDIF --></a></li>
	             <li><a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a></li>
				 <!-- IF PAGE_NUMBER --><!-- IF PAGINATION -->{PAGINATION}<!-- ELSE --><a><li>{PAGE_NUMBER}</a></li><!-- ENDIF --><!-- ENDIF -->
	           </ul>
			 </div>     
         </div>
    </div>
	
<!-- ELSE -->
<div class="alert alert-info fade in">
	  <button class="close" data-dismiss="alert"><span class="awe-remove-circle"></span></button>
	  {L_NO_BOOKMARKS}
	</div>
<!-- ENDIF -->

<!-- ENDIF -->
</div>

</form>

<!-- INCLUDE ucp_footer.html -->